.demo-card {
	margin: 20px;
	background-color: white;
}
.demo-card--with-avatar .mdc-card__primary {
	position: relative;
	box-shadow: 3px, 3px, 5px white;
}
.clear {
	clear: both;
}
.cards {
	display: flex;
	flex-direction: row;
	flex-basis: auto;
	flex: 1;
}
.mdc-card{
	flex-grow: 1;
	width:auto;
	flex: 1;
	justify-content: flex-end;
}

.demo-card--with-avatar .mdc-card__primary {
	position: relative;
}
.demo-card--with-avatar .demo-card__avatar {
	float: left;
	background: #bdbdbd;
	height: 2.5rem;
	/* 40sp */
	width: 2.5rem;
	/* 40sp */
	border-radius: 50%;
}
.mdc-card__subtitle{
	justify-content: flex-start!important;
	height: 35px;
}
.mdc-card__supporting-text{
	flex-grow:1;
}
.demo-card--with-avatar .mdc-card__title,  .demo-card--with-avatar .mdc-card__subtitle {
	margin-left: 56px;
	flex: auto;
	
	
}
[dir="rtl"] .demo-card--with-avatar .mdc-card__title,  [dir="rtl"] .demo-card--with-avatar .mdc-card__subtitle {
	margin-right: 56px;
	margin-left: initial;
}

.demo-card__16-9-media{
	margin-top:10px;
	margin-left: -32px;
	margin-right: -32px;
	height: 150px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-origin: padding-box;
	

}
.demo-card--small .mdc-card__media img{
	background-size: cover;
	background-repeat: no-repeat;

}
.demo-card--bg-demo {
	/* 350sp */
	background-image: url("images/1-1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.demo-card--bg-demo .mdc-card__primary,  .demo-card--bg-demo .mdc-card__actions {
	background: rgba(0, 0, 0, .4);
}

