/* Ensure layout covers the entire screen. */
html {
	height: 100%;
	background-color: #333333;
	color: #F1F1F1;
}
/* Place drawer and content side by side. */
.demo-body {
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}
/* Stack toolbar and main on top of each other. */
.demo-content {
	display: inline-flex;
	flex-direction: column;
	flex-grow: 1;
	height: 100%;
	box-sizing: border-box;
	margin-left: 240px;
}
/* Place drawer above toolbar shadow. */
.mdc-permanent-drawer {
	position: fixed;
	z-index: 2;
	box-shadow: 0px 0px 10px  black;
}
.demo-main {
}
.blur::before {
	background: url(../Design/ParallaxImages/Full.png) 0 / cover fixed;
}
.blur {
	position: relative;
	background: hsla(0,0%,0%,.4);
	overflow: hidden;
	border-radius: 10px;
}
.blur::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	filter: blur(50px);
	z-index: -1;
}
#subtitle {
	z-index: 10;
	position: absolute;
	color: white;
	text-align: center;
	padding: 20px;
	font-family: 'Kaushan Script', cursive;
	top: 40%;
	left: 50%; /* position the left edge of the element at the middle of the parent */
}
#content {
	background-color: #333333;
	box-sizing: border-box;
}
.layer-13 {
	font-family: 'Kaushan Script', cursive;
	display: flex;
	text-indent: 20px;
	align-items: flex-end;
}
.inner {
	box-sizing: border-box;
	padding: 24px;
}
