/* CSS Document */


#parallax {
  overflow: hidden;
  position: relative;
}

.layer {
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(100% - 220px);
  position: fixed;
  z-index: -1;
}

#parallax-mobile {
  display: none;
  background: url(../Design/ParallaxImages/Full.png) no-repeat center bottom/cover;
  height: 320px;
}


#parallax, .layer {
  min-height: 800px;
}


.layer-13 {
  background-image: url("../Design/ParallaxImages/layer1.png");
	position: absolute;
	width: 100%;
}

.layer-12 {
  background-image: url("../Design/ParallaxImages/layer2.png");
}
.layer-11 {
  background-image: url("../Design/ParallaxImages/Layer3.png");
}
.layer-10 {
  background-image: url("../Design/ParallaxImages/Layer4.png");
}
.layer-9 {
  background-image: url("../Design/ParallaxImages/Layer5.png");
}
.layer-8 {
  background-image: url("../Design/ParallaxImages/Layer6.png");
}
.layer-7 {
  background-image: url("../Design/ParallaxImages/Layer7.png");
}
.layer-6 {
  background-image: url("../Design/ParallaxImages/Layer8.png");
}
.layer-5 {
  background-image: url("../Design/ParallaxImages/Layer9.png");
}
.layer-4 {
  background-image: url("../Design/ParallaxImages/Layer10.png");
}
.layer-3 {
  background-image: url("../Design/ParallaxImages/Layer11.png");
}
.layer-2 {
  background-image: url("../Design/ParallaxImages/Layer12.png");
}
.layer-1 {
  background-image: url("../Design/ParallaxImages/Layer13.png");
}


@media only screen and (max-width: 768px) {
  #parallax {
    display: none;
  }

  #parallax-mobile {
    display: block;
  }
}
